body {
  background-color: darkorange;
}

* {
  outline: none;
}

.btn {
  padding: 9px 10px;
  box-shadow: none;
  border: 0;
  margin-right: 10px;
}

.btn:active,
.btn:hover,
.btn:focus {
  box-shadow: none;
  background-color: #fff;
}

