.wave-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.wave-button__inner {
  position: absolute;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  pointer-events: none;
  opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 0, 0, 0.4);
  top: 100%;
  left: 100%;
  display: block;

}

